header,
main,
footer {
  min-width: 390px;
  margin: 0 auto;
}

.header-container,
.hero-section {
  background-color: var(--background-color);
}

/* header start */

.header-container {
  height: 76px;
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
}

.header-container h1 {
  width: 92px;
  height: 28px;
}

.hambergur-btn {
  width: 24px;
  height: auto;
  padding: 0;
  margin: 0;
  border-radius: 0;
  background-color: var(--background-color);
  position: relative;
}

.hambergur-btn span {
  width: 24px;
  height: 2px;
  background-color: #263140;
  position: absolute;
  top: 0;
  left: 0;
}

.hambergur-btn span:nth-child(2) {
  top: 8px;
}

.hambergur-btn span:nth-child(3) {
  top: 16px;
}

.menu-tab {
  display: none;
}

/* header end */

/* main start */
main {
  position: relative;
}

.hodu-background {
  position: absolute;
  width: 100%;
  min-height: 240px;
  max-height: 360px;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
}

/* hero section */

.hero-section {
  margin: 0 auto;
  padding: 40px 32px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.hero-title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: var(--line-height);
}

.description {
  font-size: 1.4rem;
  line-height: 1.6;
}

.hero-section img {
  width: 200px;
  height: auto;
  object-fit: contain;
}

/* section container */

.section-container {
  max-width: 1280px;
  height: auto;
  margin: 0 auto;
  padding: 4rem 3.2rem;
  padding-bottom: 0;
  position: relative;
}

.section-container > section {
  margin-bottom: 60px;
}

.section-container img {
  box-shadow: var(--box-shadow);
  border-radius: 18px;
}

/* /* section-feature-1 */

.section-feature-1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section-feature-1 .first-content-title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: var(--line-height);
  margin-bottom: 1.6rem;
}

.section-feature-1 p:nth-child(2) {
  font-size: 1.4rem;
  line-height: var(--line-height);
}

/* /* section-feature-2 */

.section-feature-2 header,
.section-feature-2 .card-grid {
  margin-bottom: 50px;
}

.section-feature-2 header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
}

.section-feature-2 header h4 {
  font-size: 2.4rem;
  color: var(--point-color);
  line-height: var(--line-height);
}

.section-feature-2 p {
  font-size: 1.4rem;
  line-height: 1.6;
}

.section-feature-2 header p strong {
  color: var(--point-color);
}

.card-grid {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
}

.card-grid ul {
  display: flex;
  gap: 20px;
}

.card-grid ul li {
  width: 100%;
  height: 100%;
}

.card-grid ul li img {
  width: 260px;
  height: 260px;
}

.feature-footer {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 22px;
}

/* /* section-feature-3 */

.section-feature-3 {
  display: flex;
  flex-direction: column;
  background-color: #263140;
  border-radius: 18px;
  padding: 36px 32px;
  gap: 18px;
}

.section-feature-3 .newsletter-content {
  color: #ffffff;
}

.section-feature-3 .newsletter-content h4 {
  font-size: 2.4rem;
  line-height: var(--line-height);
}

.section-feature-3 .newsletter-content p {
  color: #f2e9d8;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.6;
}

.section-feature-3 form {
  width: 100%;
  height: auto;
  text-align: right;
  gap: 16px;
}

.section-feature-3 form input {
  width: 100%;
  height: 100%;
  margin-bottom: 16px;
  padding: 10px 16px;
  border: none;
  border-radius: 60px;
}

/* /* modal */

.subs-modal {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  padding: 0 50px;
  text-align: center;
  background-color: #f2e9d8;
  background-image: url(../images/modal-background.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  align-content: center;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.2);

  /* hidden */
  display: none;
}

.subs-modal img {
  width: 60px;
  height: auto;
  margin-bottom: 20px;
  box-shadow: none;
  overflow: visible;
}

.subs-modal p {
  font-size: 1.4rem;
  line-height: 1.6;
}

.subs-modal .thankyou {
  font-size: 2.4rem;
  color: var(--point-color);
  font-weight: 600;
  line-height: 1.8;
}

.subs-modal button {
  margin-top: 26px;
  margin-bottom: 0;
}

/* arrow-up btn */
.arrow-up {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url(../images/scroll-up-btn.png) no-repeat center;
  background-color: #ffffff;
  border: solid 1px #c4c4c4;
  position: fixed;
  bottom: 24px;
  right: 24px;
  transition: all 0.2 ease;
}

.arrow-up:hover {
  background-image: url(../images/scroll-up-hover.png);
}

/* footer */

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
}

.left-layer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-layer .footer-logo {
  width: 112px;
  height: auto;
  object-fit: contain;
}

.left-layer ul {
  display: flex;
  gap: 16px;
}

.footer-nav ul {
  color: #767676;
}

.footer-nav ul li {
  margin: 10px 0;
  text-align: end;
  font-size: 1.4rem;
}
