header,
main,
footer {
  min-width: 390px;
  margin: 0 auto;
}

.header-container,
.hero-section {
  background-color: var(--background-color);
}

/* header start */

.header-container {
  height: 76px;
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
}

.header-container h1 {
  width: 92px;
  height: 28px;
}

.hambergur-btn {
  width: 24px;
  height: auto;
  padding: 0;
  margin: 0;
  border-radius: 0;
  background-color: var(--background-color);
  position: relative;
}

.hambergur-btn span {
  width: 24px;
  height: 2px;
  background-color: #263140;
  position: absolute;
  top: 0;
  left: 0;
}

.hambergur-btn span:nth-child(2) {
  top: 8px;
}

.hambergur-btn span:nth-child(3) {
  top: 16px;
}

.menu-tab {
  display: none;
}

/* header end */

/* main start */

/* hero section */

.hero-section {
  margin: 0 auto;
  padding: 40px 32px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.hero-title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: var(--line-height);
}

.description {
  font-size: 1.4rem;
  line-height: 1.6;
}

.hero-section img {
  width: 200px;
  height: auto;
  object-fit: contain;
}

/* section container */

.section-container {
  max-width: 1280px;
  height: auto;
  margin: 0 auto;
  padding: 4rem 3.2rem;
  padding-bottom: 0;
}

.section-container > section {
  margin-bottom: 60px;
}

.section-container img {
  box-shadow: var(--box-shadow);
  border-radius: 18px;
}

/* /* section-feature-1 */

.section-feature-1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section-feature-1 .first-content-title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: var(--line-height);
  margin-bottom: 1.6rem;
}

.section-feature-1 p:nth-child(2) {
  font-size: 1.4rem;
  line-height: var(--line-height);
}

/* /* section-feature-2 */

.section-feature-2 header,
.section-feature-2 .card-grid {
  margin-bottom: 50px;
}

.section-feature-2 header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
}

.section-feature-2 header h4 {
  font-size: 2.4rem;
  color: var(--point-color);
  line-height: var(--line-height);
}

.section-feature-2 p {
  font-size: 1.4rem;
  line-height: 1.6;
}

.section-feature-2 header p strong {
  color: var(--point-color);
}

.card-grid {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
}

.card-grid ul {
  display: flex;
  gap: 20px;
}

.card-grid ul li {
  width: 100%;
  height: 100%;
}

.card-grid ul li img {
  width: 260px;
  height: 260px;
}

.feature-footer {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 22px;
}
